@model KiDSisMvcWebUI.Models.BooksCategory

@{
    ViewBag.Title = "Delete";
}
<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">
        <h2 style="color: white;">Kaydı Sil</h2>
    </li>
</ul>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori İsmi
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-info" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
