@model KiDSisMvcWebUI.Models.Authority

@{
    ViewBag.Title = "Details";
}

<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">
        <h2 style="color:white">Detay</h2>
    </li>
</ul>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Yetki Adı
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Yetki Türü
            @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
