@model KiDSisMvcWebUI.Models.BooksNeed

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout-User.cshtml";
}
<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">
        <h2 style="color:white">Detay</h2>
    </li>
</ul>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kitap Sayısı
            @*@Html.DisplayNameFor(model => model.BookCount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
