
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin:auto">

        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Yetki İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/RoleAdmin/Create">Yetki tanımla</a>
                </li>

                <li class="list-group-item">
                    <a href="/RoleAdmin/Index">Kullanıcı Yetki İşlemleri</a>
                </li>
            </ul>
        </div>

        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Kategori İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/SchoolsCategories/Create">Kategori tanımla</a>
                </li>

                <li class="list-group-item">
                    <a href="/SchoolsCategories/Index">Kategori İşlemleri</a>
                </li>
            </ul>
        </div>

        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Kullanıcı İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/Account/Register">Yeni Kullanıcı Oluştur</a>
                </li>

                <li class="list-group-item">
                    <a href="/Admin/Index">Kullanıcıları Listele</a>
                </li>
            </ul>
        </div>




        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Sınıf İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/SchoolClasses/Create">Sınıf tanımla</a>
                </li>

                <li class="list-group-item">
                    <a href="/SchoolClasses/Index">Sınıf İşlemleri</a>
                </li>
            </ul>
        </div>




        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Kitap İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/Books/Create">Kitap tanımla</a>
                </li>

                <li class="list-group-item">
                    <a href="/Books/Index">Kitap İşlemleri</a>
                </li>
            </ul>
        </div>




    </div>
</div>