
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="card bg-info" style="width: 18rem;">
            <div class="card-header " style="color:white;">
                <b>Kullanıcı İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/Account/Register">Yeni Kullanıcı Oluştur</a>
                </li>
                <li class="list-group-item">
                    <a href="/Admin/Index">Kullanıcıları Listele</a>
                </li>

            </ul>
        </div>
        <div class="card bg-info mb-4 ml-3" style="width: 18rem;">
            <div class="card-header" style="color:white;">
                <b>Yetki İşlemleri</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/RoleAdmin/Create">Yetki tanımla</a>
                </li>

                <li class="list-group-item">
                    <a href="/RoleAdmin/Index">Kullanıcı Yetki İşlemleri</a>
                </li>
            </ul>
        </div>
    </div>
</div>