<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> KiDSis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="körfez, kitap, dağıtım">
    <meta name="description" content="Körfez İlçe Milli Eğitim Müdürlüğü - Kitap Dağıtım Sitesi">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Css/Ozel.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body style="background-image:url(/Images/arkaplan.png)">
    <div class="container body-content">
        @RenderBody()     
    </div>
</body>
</html>