<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> KiDSis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="körfez, kitap, dağıtım">
    <meta name="description" content="Körfez İlçe Milli Eğitim Müdürlüğü - Kitap Dağıtım Sitesi">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Css/Ozel.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>



</head>
<body style="background-image:url(/Images/arkaplan.png)">
    <div class="container">
        <nav style="border-radius:5px;" class="navbar navbar-expand-lg navbar-dark bg-info mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Logo -->
                        <a href="index-giris-yonetici.html" class="navbar-brannd"><img width="150" src="~/Images/logo.png"></a>
                    </div>
                </div>
                <!-- Sağ Giriş -->
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#menuac">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <div class="col-md-12 collapse navbar-collapse" id="menuac">
                        <form name="giris" action="#" method="post" class="form-inline ml-4">
                            <label for="kurumLabel" style="color: white;" class="mr-2">Kurum Kodu</label>
                            <input id="kurumLabel" type="text" maxlength="6" name="kurumkodu" required placeholder="Kurum Kodunuzu Girin" class="form-control mr-4 form-control-sm">
                            <label for="sifreLabel" style="color: white;" class="mr-2">Şifre</label>
                            <input id="sifreLabel" type="password" name="sifre" required placeholder="Şifrenizi Girin" class="form-control mr-2 form-control-sm">
                            <button name="girisYap" class="button btn btn-light btn-sm mr-2">Giriş Yap </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <!--Site Açıklama Kısmı-->
        <div class="col-md-12">
            <div class="jumbotron" style="border-radius:5px;">
                <h1>KİDSİS - Kitap Dağıtım Sistemine Hoş Geldiniz</h1>
                <p>Kitap Dağıtım Sistemi ile eksik olan kitaplarınız için talep oluşturabilir, oluşturduğunuz talepleri sistem üzerinden takip edebilirsiniz.  <br></p>
                <hr>
                <p>Soru görüş ve önerileriniz için lütfen <strong>0 (262) 528 9394 - 126</strong> numaralı telefondan <strong>Şef İsim SOYİSİM</strong> ile iletişime geçin.</p>
            </div>
        </div>
    </div>










    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@

    @RenderBody()
    <div class="container">
        <footer style="color:white;">
            <nav class="bg-info" style="border-radius: 5px;">
                <div class="container-fluid">
                    <div class="row">
                        <div align="center" class="col-md-12">
                            <strong>Hacıosman Mah. Hızır Reis Cad. Bişkek Sok. No132/A Kat3 KÖRFEZ/KOCAELİ - 0 (262) 528 9394</strong><br>
                            MEB © - Tüm Hakları Saklıdır. Gizlilik, Kullanım ve Telif Hakları bildiriminde belirtilen kurallar çerçevesinde hizmet sunulmaktadır.
                        </div>
                    </div>
                </div>
            </nav>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>