
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>KİDSİS - Kitap Dağıtım Sistemine Hoş Geldiniz</h1>
            <p>Soru görüş ve önerileriniz için lütfen <strong> 0 (262) 528 9394 - 126</strong> numaralı telefondan sistem yöneticisi <strong>İsim SOYİSİM</strong> ile iletişime geçin. </p><hr>
            <h3>Son 5 Talep <a class="btn btn-info btn-sm" href="kitap-teslim-sayfasi-cikti-alma.html">Tutanak Oluştur</a></h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tarih</th>
                            <th>Okul Adı</th>
                            <th>Sınıf</th>
                            <th>Kitap Adı</th>
                            <th>Adet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>08/04/2018</td>
                            <td>Yavuz Selim İlkokulu</td>
                            <td>4. Sınıf</td>
                            <td>Türkçe</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>08/04/2018</td>
                            <td>Yavuz Selim İlkokulu</td>
                            <td>4. Sınıf</td>
                            <td>Türkçe</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>08/04/2018</td>
                            <td>Yavuz Selim İlkokulu</td>
                            <td>4. Sınıf</td>
                            <td>Türkçe</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>4</td>
                            <td>08/04/2018</td>
                            <td>Yavuz Selim İlkokulu</td>
                            <td>4. Sınıf</td>
                            <td>Türkçe</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>08/04/2018</td>
                            <td>Yavuz Selim İlkokulu</td>
                            <td>4. Sınıf</td>
                            <td>Türkçe</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                </table>
                <a href="tum-talepler.html" class="btn btn-info btn-sm btn-block">Tüm Talepleri Görüntüle</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

