@{
    //ViewBag.Title = "Index";
    //Layout = null;
    // Layout = "~/Views/Shared/_Layout - login.cshtml";
    Layout = "/Views/Shared/_Layout-Login.cshtml";
}
@*if true değer döndürüyorsa kullanıcı giriş yapmış demektir.*@

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <b>
            <label> Hoş Geldin </label>


            @*Burada role göre işlem yapabilirsin.*@

            @if (@User.IsInRole("Admin"))
            {
               
                <label> Sen Yöneticisin  </label>
            }
            else
            {
                <label> Sen Kullanıcısın</label>
            }



            <label class="col-form-label label-info">
                @User.Identity.Name
            </label>
        </b>
        //burada Account altındaki logout actionını çalıştırarak. çıkış yapmasını sağlıyor.
        <a href="/Account/Logout" class="btn btn-outline-danger btn-sm">
            Çıkış
        </a>
    }
    else
    {
        <a href="/Account/Login" class="btn btn-outline-success">Login</a>
        <a href="/Account/Register" class="btn btn-outline-primary">Register</a>
    }
</div>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Kitap Dağıtım Sitesi</title>
    <meta name="description" content="Körfez İlçe Milli Eğitim Müdürlüğü - Kitap Dağıtım Sitesi">
    <meta name="keywords" content="körfez, kitap, dağıtım">
    <meta name="author" content="Kenan ÖVSENE & Sedat ÖZBAY">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <!-- Boostrap Css Dosyası-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<link rel="stylesheet" href="css/bootstrap.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Css/Ozel.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <!--Sık Sorulan Sorular-->
                <div><h3> <i class="far fa-question-circle"></i> Sık Sorulan Sorular</h3></div><hr>
                <div class="alert alert-success">
                    <strong>KİDSİS Nedir?</strong><br> Açıklama
                </div>

                <div class="alert alert-info">
                    <strong>Talep Nasıl Oluşturulur?</strong><br> Açıklama
                </div>

                <div class="alert alert-warning">
                    <strong>Talep Nasıl Takip Edilir?</strong><br> Açıklama
                </div>

                <div class="alert alert-danger">
                    <strong>Depo Stok Takibi Nedir?</strong><br>Açıklama-11
                </div>
                <div class="alert alert-danger">
                    <strong>Depo Stok Takibi Nedir?</strong><br>Açıklama-12
                </div>
                <div class="alert alert-danger">
                    <strong>Depo Stok Takibi Nedir?</strong><br>Açıklama-13
                </div>
                <div class="alert alert-danger">
                    <strong>Depo Stok Takibi Nedir?</strong><br>Açıklama-14
                </div>


                <!--DUYURULAR-->
            </div>
            <div class="col-md-6 mt-4">
                <div><h3><i class="far fa-edit"></i> Güncellemeler</h3></div><hr>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
                <div class="alert alert-success">
                    <strong>08/04/2018 </strong>8. sınıf Türkçe kitabı geldi.
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>




</body>
</html>

