
@{
    ViewBag.Title = "reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-md-12">
        <div class="jumbotron">
            <h1>KİDSİS - Raporlar</h1>
            <p>Aşağıdaki tablodan ilgili raporlara ulaşabilirsiniz.</p>
            <hr>
            <div table-responsive-sm>
                <table class="table table-hover">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col"><i class="fas fa-paperclip"></i> Rapor İsmi</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1. <a href="#">Okul İhtiyaç Raporu</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2. <a href="#">Depo Stok Kontrol Raporu</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3. <a href="#">İlçe İhtiyaç Raporu</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">4. <a href="#">Eksik Kitap Raporu</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">5. <a href="#">Fazla Kitap Raporu</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">6. <a href="#">Teslim Tutanağı Gelen</a></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">7. <a href="#">Teslim Tutanağı Giden</a></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

